@page
@using CrystalMindTask.Dtos.Models
@model IndexModel
@{
    var customers = Model.responseCustomers.CustomersList;
    var customerobject=new CustomerDto();
}
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
@if (customers==null)
{
    <p>No Result</p>
}else{
<h1 class="display-4">@Model.responseCustomers.CustomersList.Count Customer</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model =>customerobject.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => customerobject.CustomerFristName)
            </th>
            <th>
                @Html.DisplayNameFor(model => customerobject.CustomerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => customerobject.CustomerGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => customerobject.CustomerDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => customerobject.CustomerEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFristName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
        </tr>
}
    </tbody>
</table>
}

</div>
